#paint-canvas {
  /*border: solid 1px black;*/
  margin: 0;
  padding: 0;
  background: rgb(245, 245, 245);
}
#canvas {
  display: block;
}
#toolSelect {
  width: 85px;
}
.disabled {
  color: #ccc !important;
}
.left-options {
  position: absolute;
}
.left-options ul{
  list-style: none;
  padding: 0;
}
.left-options li {
  padding: 0 0 15px 0;
}
.whiteboard-menu {
  background-color: transparent;
  clear: both;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
}
.whiteboard-menu a{
  cursor: pointer;
}
.whiteboard-menu i {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  margin-top: 3px;
}
.modifier-icons i:first-child {
  margin-left: 10px;
}
.modifier-icons a:first-child {
  margin-left: 0;
}
.sp-replacer {
  border: none;
  background: none;
  vertical-align: middle;
  margin-left: -6px;
}
.state-icons {
  float: right;
}
.modifier-icons {
  float: left;
}
.modifier-icons a {
  margin-left: 10px; 
}
#toolSelect {
  font-family: 'FontAwesome', Arial;
  vertical-align: middle;
  background-color: white;
  padding-left: 16px;
  margin-right: 5px;
}
#toolSelect option {
  height: 45px;
  padding: 20px;
}
#toolSelect .pencil:before {
  content: '\f040';
}
#lineWidth {
  vertical-align: middle;
  padding: 4px;
  background-color: white;
}
#lineWidth:focus {
  outline: 0;
}

@media (max-width: 800px) {
  #paint-canvas {
    display: block;
    width: 100%;
  }
}
