#paint-canvas {
  width: 49.9%;
  float: right;
  display: inline-block;
  /*border: solid 1px black;*/
}
#canvas {
  display: block;
  border: solid 1px red;
}
.left-options {
  position: absolute;
}
.left-options ul{
  list-style: none;
  padding: 0;
}
.left-options li {
  padding: 0 0 15px 0;
}
