#text-editor {
  width: 49.9%;
  height: 100%;
  float: left;
}

#editor {
  height: 600px;
  width: auto;
}

#options {
}

@media (max-width: 800px) {
  #text-editor {
    display: block;
    width: 100% !important;
  }
}

.fire {
  width: 700px;
  height: 450px;
}