#video {
  height: 100px;
  width: 100%;
  bottom: 0;
}

#video-container {
  z-index: 999;
  /*margin: 0 5px;*/
}

.peer-vid {
  height: 150px;
  display: inline-block;
}

.peer-vid-container {
  /*margin: 0 -5px;*/
  order: 2;
  float: left;
}

#my-video-container {
  /*margin: 0 -5px;*/
  float: left;
}

#my-video {
  height: 150px;
  background-color: #eee;
  order: 1;
  transform: scaleX(-1);
}

#video button {
  float: left;
}
