#video {
  height: 300px;
  width: 49%;
  float: right;
}

#video-container {
  display: flex;
  flex-flow: row wrap;
  background: green;
  /*margin: 0 5px;*/
}

.peer-vid { 
  width: 200px;
}

.peer-vid-container {
  /*margin: 0 -5px;*/
  order: 2;
}

#my-video-container {
  /*margin: 0 -5px;*/
}

#my-video {
  width: 200px;
  background-color: #eee;
  order: 1;
}