<div>
  <button id="join-video">Join Video Chat</button>
  <button id="leave-video">Leave Video Chat</button>
</div>
<div id="video-chat">
  <div id="video-container">
  <div id="my-video-container">
    <video id="my-video" muted="true" autoplay>Video</video>
  <div>
  </div>
</div>
