<div class='chat draggable'>
  <header class='handle'>
    <h2 class='title'>
      <a href='#'>Chatbox</a>
    </h2>
    <ul class='tools'>
      <li>
        <a class='fa fa-gear' href='#'></a>
      </li>
    </ul>
  </header>
  <div class='body'>
    <ul id='messages' class='message-list'></ul>
  </div>
  <footer>
    <form id='messages-form' class='message-form'>
      <input id='m' type='text' placeholder='Type a message here' class='message-input' />
      <button class='message-button'>Send</button>
    </form>
  </footer>
</div>
