<div id="text-chat">
  <div id="messages-container">
    <ul id="messages"></ul>
  </div>
  <form id="messages-form" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</div>
