<div id="options">
<button id="settings">Settings</button>
<div id="firepad" class="fire"></div>

<!-- <h3>Font Size:</h3>
<select id="fontSize">
  <option value="8">8</option>
  <option value="10">10</option>
  <option value="12" selected="selected">12</option>
  <option value="14">14</option>
  <option value="16">16</option>
  <option value="18">18</option>
  <option value="20">20</option>
  <option value="22">22</option>
  <option value="24">24</option>
</select>

<h3>Word Wrap</h3>
<select id="wordWrap">
  <option value="true" selected="selected">On</option>
  <option value="false">Off</option>
</select>

<h3>Tab Size</h3>
<select id="tabSize">
  <option value="2" selected="selected">2</option>
  <option value="4">4</option>
</select>

<h3>Highlight Active Line?</h3>
<select id="highlightActiveLine">
  <option value="true" selected="selected">Yes</option>
  <option value="false">No</option>
</select>

<h3>Language</h3>
<select id="language">
  <option value="c_cpp">C/C++</option>
  <option value="csharp">C#</option>
  <option value="coffee">CoffeeScript</option>
  <option value="css">CSS</option>
  <option value="html">HTML</option>
  <option value="javascript" selected="selected">JavaScript</option>
  <option value="markdown">Markdown</option>
  <option value="mysql">MySQL</option>
  <option value="objectivec">Objective-C</option>
  <option value="php">PHP</option>
  <option value="python">Python</option>
  <option value="ruby">Ruby</option>
  <option value="sql">SQL</option>
</select>

  <h3>Theme</h3>
  <select id="theme">
  </select> -->

  </div>

  <div id="editor"></div>
