<div class='left-options'>
  <ul>
    <li>Pencil</li>
    <li>Brush</li>
    <li>line tool</li>
    <li>bucket</li>
  </ul>
</div>
{{!-- <div class='top-options'>
  <ul>
    <li>Stroke</li>
    <li>Fill</li>
    <li>undo</li>
    <li>erase</li>
    <li>start over</li>
  </ul>
</div> --}}
<canvas id='canvas' width='600' height='300'>
  <h1>Canvas is not supported in your browser.</h1>
</canvas>