{{!-- Our modifiers --}}
Line color:       <input type='color' id='strokeColor' value='#000000' />
Fill Color:       <input type='color' id='fillColor' value='#ffffff' />
Line width: <select id='lineWidth'>
                <option value='1.0'>1.0</option>
                <option value='2.0'>2.0</option>
                <option value='3.0'>3.0</option>
                <option value='4.0'>4.0</option>
                <option value='5.0'>5.0</option>
                <option value='6.0'>6.0</option>
            </select>
{{!-- Special function buttons --}}
<input id='clearAll' type='button' value='clear' />
<input id='undo' type='button' value='undo' />
<input id='redo' type='button' value='redo' />

{{!-- All our drawing tools go here --}}
<select id='toolSelect'>
  <option value='pencil'>Pencil</option>
  <option value='line'>Drawline</option>
  <option value='cursor'>Cursor</option>
  <option value='rect'>Rectangles</option>
  <option value='ellipse'>Ellipse</option>
  <option value='triangle'>Triangle</option>
  <option value='eraser'>Eraser</option>
</select>

{{!-- The Canvas --}}
<canvas id='canvas' width='650' height='400'>
  <h1>Canvas is not supported in your browser.</h1>
</canvas>
